html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  height: auto;
  min-height: 100%;
}

.flexbox-parent {
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
}

.flexbox-parent > .flexbox-child {
  @include flex(1);
}
